<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     
     
    <!--  <class name="com.qa.testScriptsUpdateProfile.TestCasesUpdateProfile"/>--> 
      <class name="com.qa.testScriptsHomePage.TestCasesHomePage"/>
      <class name="com.qa.testScriptsSignup.TestCasesSignup"/>
       <class name="com.qa.testScriptsLogin.TestCasesLogin"/>
        <class name="com.qa.testScriptsCreateProfile.TestCasesCreateProfile"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
